@keyframes moveCat {
  0% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(2deg); } }

@keyframes moveGun {
  0% {
    left: 40px;
    transform: rotate(-2deg); }
  100% {
    left: 50px;
    transform: rotate(2deg); } }

@keyframes moveBullets {
  0% {
    left: 40px; }
  100% {
    left: 120vw; } }

.ShootingScene {
  padding-top: 400px; }
  .ShootingScene .rambo {
    left: 0px;
    top: 0px;
    width: 300px;
    position: absolute;
    animation: moveCat 0.1s infinite; }
  .ShootingScene .gun {
    width: 300px;
    position: absolute;
    top: 140px;
    left: 40px;
    z-index: 9;
    animation: moveGun 0.1s infinite; }
  .ShootingScene > div {
    position: relative; }
  .ShootingScene .bullet {
    display: inline-block;
    background: red;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    left: 320px;
    top: 170px; }
    .ShootingScene .bullet.bullet-0 {
      animation: moveBullets 3s infinite linear, spreadBullets-0 3s linear infinite;
      animation-delay: 367ms; }

@keyframes spreadBullets-0 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 231px; } }
    .ShootingScene .bullet.bullet-1 {
      animation: moveBullets 3s infinite linear, spreadBullets-1 3s linear infinite;
      animation-delay: 1264ms; }

@keyframes spreadBullets-1 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 54px; } }
    .ShootingScene .bullet.bullet-2 {
      animation: moveBullets 3s infinite linear, spreadBullets-2 3s linear infinite;
      animation-delay: 885ms; }

@keyframes spreadBullets-2 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 70px; } }
    .ShootingScene .bullet.bullet-3 {
      animation: moveBullets 3s infinite linear, spreadBullets-3 3s linear infinite;
      animation-delay: 2388ms; }

@keyframes spreadBullets-3 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 26px; } }
    .ShootingScene .bullet.bullet-4 {
      animation: moveBullets 3s infinite linear, spreadBullets-4 3s linear infinite;
      animation-delay: 1348ms; }

@keyframes spreadBullets-4 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 260px; } }
    .ShootingScene .bullet.bullet-5 {
      animation: moveBullets 3s infinite linear, spreadBullets-5 3s linear infinite;
      animation-delay: 366ms; }

@keyframes spreadBullets-5 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 113px; } }
    .ShootingScene .bullet.bullet-6 {
      animation: moveBullets 3s infinite linear, spreadBullets-6 3s linear infinite;
      animation-delay: 247ms; }

@keyframes spreadBullets-6 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 31px; } }
    .ShootingScene .bullet.bullet-7 {
      animation: moveBullets 3s infinite linear, spreadBullets-7 3s linear infinite;
      animation-delay: 2719ms; }

@keyframes spreadBullets-7 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 279px; } }
    .ShootingScene .bullet.bullet-8 {
      animation: moveBullets 3s infinite linear, spreadBullets-8 3s linear infinite;
      animation-delay: 2549ms; }

@keyframes spreadBullets-8 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 142px; } }
    .ShootingScene .bullet.bullet-9 {
      animation: moveBullets 3s infinite linear, spreadBullets-9 3s linear infinite;
      animation-delay: 1796ms; }

@keyframes spreadBullets-9 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 88px; } }
    .ShootingScene .bullet.bullet-10 {
      animation: moveBullets 3s infinite linear, spreadBullets-10 3s linear infinite;
      animation-delay: 601ms; }

@keyframes spreadBullets-10 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 273px; } }
    .ShootingScene .bullet.bullet-11 {
      animation: moveBullets 3s infinite linear, spreadBullets-11 3s linear infinite;
      animation-delay: 1794ms; }

@keyframes spreadBullets-11 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 24px; } }
    .ShootingScene .bullet.bullet-12 {
      animation: moveBullets 3s infinite linear, spreadBullets-12 3s linear infinite;
      animation-delay: 2831ms; }

@keyframes spreadBullets-12 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 169px; } }
    .ShootingScene .bullet.bullet-13 {
      animation: moveBullets 3s infinite linear, spreadBullets-13 3s linear infinite;
      animation-delay: 1892ms; }

@keyframes spreadBullets-13 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 86px; } }
    .ShootingScene .bullet.bullet-14 {
      animation: moveBullets 3s infinite linear, spreadBullets-14 3s linear infinite;
      animation-delay: 1176ms; }

@keyframes spreadBullets-14 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 120px; } }
    .ShootingScene .bullet.bullet-15 {
      animation: moveBullets 3s infinite linear, spreadBullets-15 3s linear infinite;
      animation-delay: 2626ms; }

@keyframes spreadBullets-15 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 114px; } }
    .ShootingScene .bullet.bullet-16 {
      animation: moveBullets 3s infinite linear, spreadBullets-16 3s linear infinite;
      animation-delay: 1531ms; }

@keyframes spreadBullets-16 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 55px; } }
    .ShootingScene .bullet.bullet-17 {
      animation: moveBullets 3s infinite linear, spreadBullets-17 3s linear infinite;
      animation-delay: 2175ms; }

@keyframes spreadBullets-17 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 229px; } }
    .ShootingScene .bullet.bullet-18 {
      animation: moveBullets 3s infinite linear, spreadBullets-18 3s linear infinite;
      animation-delay: 1978ms; }

@keyframes spreadBullets-18 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 277px; } }
    .ShootingScene .bullet.bullet-19 {
      animation: moveBullets 3s infinite linear, spreadBullets-19 3s linear infinite;
      animation-delay: 1461ms; }

@keyframes spreadBullets-19 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 213px; } }
    .ShootingScene .bullet.bullet-20 {
      animation: moveBullets 3s infinite linear, spreadBullets-20 3s linear infinite;
      animation-delay: 2400ms; }

@keyframes spreadBullets-20 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 165px; } }
    .ShootingScene .bullet.bullet-21 {
      animation: moveBullets 3s infinite linear, spreadBullets-21 3s linear infinite;
      animation-delay: 2559ms; }

@keyframes spreadBullets-21 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 215px; } }
    .ShootingScene .bullet.bullet-22 {
      animation: moveBullets 3s infinite linear, spreadBullets-22 3s linear infinite;
      animation-delay: 2594ms; }

@keyframes spreadBullets-22 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 144px; } }
    .ShootingScene .bullet.bullet-23 {
      animation: moveBullets 3s infinite linear, spreadBullets-23 3s linear infinite;
      animation-delay: 1935ms; }

@keyframes spreadBullets-23 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 54px; } }
    .ShootingScene .bullet.bullet-24 {
      animation: moveBullets 3s infinite linear, spreadBullets-24 3s linear infinite;
      animation-delay: 35ms; }

@keyframes spreadBullets-24 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 66px; } }
    .ShootingScene .bullet.bullet-25 {
      animation: moveBullets 3s infinite linear, spreadBullets-25 3s linear infinite;
      animation-delay: 1094ms; }

@keyframes spreadBullets-25 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 15px; } }
    .ShootingScene .bullet.bullet-26 {
      animation: moveBullets 3s infinite linear, spreadBullets-26 3s linear infinite;
      animation-delay: 656ms; }

@keyframes spreadBullets-26 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 138px; } }
    .ShootingScene .bullet.bullet-27 {
      animation: moveBullets 3s infinite linear, spreadBullets-27 3s linear infinite;
      animation-delay: 68ms; }

@keyframes spreadBullets-27 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 217px; } }
    .ShootingScene .bullet.bullet-28 {
      animation: moveBullets 3s infinite linear, spreadBullets-28 3s linear infinite;
      animation-delay: 902ms; }

@keyframes spreadBullets-28 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 62px; } }
    .ShootingScene .bullet.bullet-29 {
      animation: moveBullets 3s infinite linear, spreadBullets-29 3s linear infinite;
      animation-delay: 1404ms; }

@keyframes spreadBullets-29 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 37px; } }
    .ShootingScene .bullet.bullet-30 {
      animation: moveBullets 3s infinite linear, spreadBullets-30 3s linear infinite;
      animation-delay: 2311ms; }

@keyframes spreadBullets-30 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 44px; } }
    .ShootingScene .bullet.bullet-31 {
      animation: moveBullets 3s infinite linear, spreadBullets-31 3s linear infinite;
      animation-delay: 907ms; }

@keyframes spreadBullets-31 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 122px; } }
    .ShootingScene .bullet.bullet-32 {
      animation: moveBullets 3s infinite linear, spreadBullets-32 3s linear infinite;
      animation-delay: 2718ms; }

@keyframes spreadBullets-32 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 66px; } }
    .ShootingScene .bullet.bullet-33 {
      animation: moveBullets 3s infinite linear, spreadBullets-33 3s linear infinite;
      animation-delay: 2008ms; }

@keyframes spreadBullets-33 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 90px; } }
    .ShootingScene .bullet.bullet-34 {
      animation: moveBullets 3s infinite linear, spreadBullets-34 3s linear infinite;
      animation-delay: 1929ms; }

@keyframes spreadBullets-34 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 26px; } }
    .ShootingScene .bullet.bullet-35 {
      animation: moveBullets 3s infinite linear, spreadBullets-35 3s linear infinite;
      animation-delay: 2898ms; }

@keyframes spreadBullets-35 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 219px; } }
    .ShootingScene .bullet.bullet-36 {
      animation: moveBullets 3s infinite linear, spreadBullets-36 3s linear infinite;
      animation-delay: 849ms; }

@keyframes spreadBullets-36 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 89px; } }
    .ShootingScene .bullet.bullet-37 {
      animation: moveBullets 3s infinite linear, spreadBullets-37 3s linear infinite;
      animation-delay: 366ms; }

@keyframes spreadBullets-37 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 29px; } }
    .ShootingScene .bullet.bullet-38 {
      animation: moveBullets 3s infinite linear, spreadBullets-38 3s linear infinite;
      animation-delay: 1625ms; }

@keyframes spreadBullets-38 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 109px; } }
    .ShootingScene .bullet.bullet-39 {
      animation: moveBullets 3s infinite linear, spreadBullets-39 3s linear infinite;
      animation-delay: 1344ms; }

@keyframes spreadBullets-39 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 242px; } }
    .ShootingScene .bullet.bullet-40 {
      animation: moveBullets 3s infinite linear, spreadBullets-40 3s linear infinite;
      animation-delay: 1690ms; }

@keyframes spreadBullets-40 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 285px; } }
    .ShootingScene .bullet.bullet-41 {
      animation: moveBullets 3s infinite linear, spreadBullets-41 3s linear infinite;
      animation-delay: 2652ms; }

@keyframes spreadBullets-41 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 81px; } }
    .ShootingScene .bullet.bullet-42 {
      animation: moveBullets 3s infinite linear, spreadBullets-42 3s linear infinite;
      animation-delay: 2588ms; }

@keyframes spreadBullets-42 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 267px; } }
    .ShootingScene .bullet.bullet-43 {
      animation: moveBullets 3s infinite linear, spreadBullets-43 3s linear infinite;
      animation-delay: 2079ms; }

@keyframes spreadBullets-43 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 258px; } }
    .ShootingScene .bullet.bullet-44 {
      animation: moveBullets 3s infinite linear, spreadBullets-44 3s linear infinite;
      animation-delay: 224ms; }

@keyframes spreadBullets-44 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 294px; } }
    .ShootingScene .bullet.bullet-45 {
      animation: moveBullets 3s infinite linear, spreadBullets-45 3s linear infinite;
      animation-delay: 1220ms; }

@keyframes spreadBullets-45 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 294px; } }
    .ShootingScene .bullet.bullet-46 {
      animation: moveBullets 3s infinite linear, spreadBullets-46 3s linear infinite;
      animation-delay: 412ms; }

@keyframes spreadBullets-46 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 271px; } }
    .ShootingScene .bullet.bullet-47 {
      animation: moveBullets 3s infinite linear, spreadBullets-47 3s linear infinite;
      animation-delay: 2443ms; }

@keyframes spreadBullets-47 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 118px; } }
    .ShootingScene .bullet.bullet-48 {
      animation: moveBullets 3s infinite linear, spreadBullets-48 3s linear infinite;
      animation-delay: 2780ms; }

@keyframes spreadBullets-48 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 43px; } }
    .ShootingScene .bullet.bullet-49 {
      animation: moveBullets 3s infinite linear, spreadBullets-49 3s linear infinite;
      animation-delay: 74ms; }

@keyframes spreadBullets-49 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 258px; } }
    .ShootingScene .bullet.bullet-50 {
      animation: moveBullets 3s infinite linear, spreadBullets-50 3s linear infinite;
      animation-delay: 2639ms; }

@keyframes spreadBullets-50 {
  0% {
    top: 170px; }
  20% {
    top: 170px; }
  100% {
    top: 45px; } }
